:root {
    --main-text-color: #222222;
    --orange-text-color: #FFC53D;
    --white-text-color: #FFFFFF;
    --grey-text-color: #A0A0A0;
    --darkgrey-text-color: #515151;
    --main-background-color: #FFFFFF;
    --orange-background-color: #FF9A3D;
    --grey-background-color: #FAFAFF
  }
  
  body {
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    justify-content: center;
    text-align: center;
  }

  a {
      text-decoration: none;
  }

  .bg-header {
      background: url("img/cover.jpg") no-repeat fixed;
      background-size: cover;
      min-height: 630px;
      position: relative;
  }

  .header-bg-gray {
      background: url();
      min-height: 650px;
  }

  .container-fluid {
      padding: 0;
  }

/*--- navigation ---*/

.navbar {
    background: var(--main-background-color);
    font-weight: bold;
    padding: 5px 15px;
  }
.navbar-brand {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
}
.navbar .navbar-nav .active {
    font-size: 22px;
}
.navbar-brand, .navbar-nav>li>a {
    color: var(--darkgrey-text-color);
    margin: 0px 20px;
    outline: none;
}
.navbar-brand:hover, .navbar-nav>li>a:hover {
    color: var(--orange-text-color);
}
.active {
    opacity: 1;
}
.navbar-nav .nav-item .nav-link {
    transition: 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover {
    transition: 0.3s ease;
    font-size: 1.3rem;
}
.navbar .navbar-toggler:hover, .navbar .navbar-toggler:active {
    background: var();
    transition: 0.3s ease;
}
button:focus {
    outline: none;
    background: var();
}
.banner-text {
    padding: 10px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold; 
    justify-content: center; 
}
.banner-text h2 {
    color: var(--orange-text-color);
    font-size: 5em;
    font-weight: bold;
}
.banner-text p {
    color: var(--white-text-color);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}
.social-media-icons i{
    margin: 10px;
}
.scroll-to-about a i {
    text-align: center;
    position: absolute;
    bottom: -500px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

/*--- help ---*/

.help {
    font-size: 2em;
    margin: 30px;
    line-height: 1.2;
}
button {
    margin: 30px;
    padding: 15px 30px;
    font-weight: bold;
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border: 1px solid var(--orange-background-color);
    border-radius: 15px;
    font-size: 1em;
}
button a {
    color: var(--white-text-color);
    text-decoration: none;
  }
  button a:hover {
    color: var(--white-text-color);
    text-decoration: none;
  }

/*--- about/skills ---*/

.section-padding {
    padding: 0px;
}
.overlay {
    position: relative;
    width: 100%;
    min-height: 260px;
    background: #FFC53D;
    margin: 30px;
    margin-left: -10%;
}
.overlay h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    padding: 10px;
    font-family: Ubuntu;
}
.shadowed {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    background: var(--main-background-color);
    position: absolute; 
    top: 20%;
    left: 20%;
    bottom: -20%;
    height: 80%;
    width: 100%;
    z-index: 100;
    background-color: white;
    padding: 30px;
    margin: -2%;
}
.text-left {
    text-align: left;
}
.dotted-border-right {
    border-right: 3px dotted var(--orange-text-color);
}
.orange_text {
    color: var(--orange-text-color);
}
.svg {
    padding: 15px;
}

/*--- portfolio ---*/

.fit-image {
    height: 100%;
    width: 100%;
}
.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}
/*--- contact ---*/

.row .col-sm-5 {
    background: var(--orange-background-color);
}


/*--- footer ---*/
.footer {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 16px;  
    color: var(--grey-text-color);
    justify-content: center;
    height: 50px;
    padding: 30px;
}
.scroll-to-portfolio a i {
    
}